@page "/forgotpassword"

<PageTitle>Forgot Password</PageTitle>

<div class="card">
    <div class="card-header">Forgot Password</div>
    <div class="card-body">
        <EditForm Model="_forgotPassword" OnValidSubmit="Send">
            <DataAnnotationsValidator />
            <div class="form-group row">
                <label for="Email" class="col-md-3 col-form-label">Email :</label>
                <InputText id="Email" class="form-control" @bind-Value="_forgotPassword.Email" />
            </div>
            <ValidationMessage For="@(()=>_forgotPassword.Email)" />
            <button type="submit" class="btn btn-success m-2 float-end">Send</button>
        </EditForm>
    </div>
</div>