@page "/resetpassword"

<PageTitle>Reset Password</PageTitle>

<div class="card">
    <div class="card-header">Reset Password3</div>
    <div class="card-body">
        <EditForm Model="_resetPassword" OnValidSubmit="Reset">
            <DataAnnotationsValidator />
            <div class="form-group row">
                <label for="Password" class="col-md-3 col-form-label">New Password:</label>
                <InputText id="Password" class="form-control" @bind-Value="_resetPassword.Password" />
            </div>
            <ValidationMessage For="@(()=>_resetPassword.Password)" />
            <div class="form-group row">
                <label for="Confirm" class="col-md-3 col-form-label">Confirm Password:</label>
                <InputText id="Confirm" class="form-control" @bind-Value="_resetPassword.ConfirmPassword" />
            </div>
            <ValidationMessage For="@(()=>_resetPassword.ConfirmPassword)" />
            <button type="submit" class="btn btn-success m-2 float-end">Reset</button>
        </EditForm>
    </div>

</div>
